<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lambda Docker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>



<body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <!-- <div id="editor">function foo(items) {
                    var x = "All this is syntax highlighted";
                    return x;
                    }</div>

                <script src="/Scripts/ace.js" type="text/javascript" charset="utf-8"></script>
                <script>
                    var editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.session.setMode("ace/mode/javascript");
                </script> -->
                <fieldset>
                    <input type="text" name="userid" value="<% if(userid !== null){ %><%= userid %><% } %>">
                    <input type="text" name="worker_platform" value="<% if(worker_platform !== null){ %><%= worker_platform %><% } %>">
                    <input type="text" name="function_name" value="<% if(function_name !== null){ %><%= function_name %><% } %>">
                    <input type="submit" class="ghost-button" value="Lamda"></fieldset>
                <fieldset> <textarea name="code" type="text" cols="100" rows="20" class="ghost-input" placeholder="Enter Code"
                        required><% if(worker_code !== null){ %><%= worker_code %><% } %></textarea>
                    <textarea name="event" type="text" cols="100" rows="20" class="ghost-input" placeholder="Enter event"
                        required>{ "queryStringParameters": { "need": "getsurveys", "surveyId": 814412, "supplierId": 1, "supplierName": "Mallesh", "surveyName": "Sattva", "sdate": "2018-11-04", "edate": "2018-11-08" } }    
                </textarea></fieldset>

            </form>
            <fieldset>
                <textarea cols="100" rows="20"><% if(worker_output !== null){ %>
                <%= worker_output %>  <% } %>
            </textarea>
                <textarea cols="100" rows="20"><% if(worker_log !== null){ %>
                <%= worker_log %> <% } %>
            </textarea></fieldset>

            <% if(error !== null){ %>
            <p>
                <%= error %>
            </p>
            <% } %>
        </fieldset>
    </div>
</body>

</html>